* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about__me {
  padding-inline: 300px;
  height: 50vh;
  margin-bottom: 20px;
  /* overflow: hidden; */
}
.section__2 {
  background-color: #fff;
  overflow: hidden;
}

.section__2 .container {
  display: flex;
  padding-top: 100px;
}
.section__2_left {
  width: 80%;
  font-size: 88px;
  padding-right: 100px;
  line-height: 1.6em;
  color: #1c1d20;
}

#my-text .line,
#my-text2 .line {
  overflow: hidden;
}

.section__2_right {
  width: 40%;
  font-size: 18px;
  color: #1c1d20;
  position: relative;
}

.section__2_top {
  padding-top: 25px;
  line-height: 1.7em;
  letter-spacing: 0.05em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.section__2 .footer__heading {
  font-size: 1.2vw;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
  background-color: #1c1d20;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
  line-height: 1em;
  position: absolute;
  margin-top: 40px;
  margin-left: 70px;
}

.rounded__div__down,
.rounded__div__up {
  height: 0vh;
  width: 100vw;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.rounded__div__down {
  top: 0;
}

.rounded__div__up {
  bottom: 0;
}

.black {
  background-color: black !important;
}

.white {
  background-color: white !important;
}

.round__bg__down {
  height: 775%;
  width: 150%;
  position: absolute;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.round__bg__up {
  height: 775%;
  width: 150%;
  position: absolute;
  background-color: white;
  bottom: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .rounded__div__down,
  .rounded__div__up {
    height: 5vh;
  }
  .about__me {
    padding-inline: 0px;
    height: 50vh;
    margin-bottom: 20px;
    /* overflow: hidden; */
  }

  .section__2 .container {
    display: block;
    padding: 0;
  }

  .section__2_left {
    width: auto;
    font-size: 40px;
    padding-right: 0px;
    line-height: 1.6em;
  }

  .section__2_right {
    width: auto;
    font-size: 18px;
    position: relative;
  }

  .me {
    padding-left: 0;
    margin-block: 0px;
    display: none;
  }

  .rounded__div {
    height: 10vh;
  }
}

@media only screen and (max-width: 425px) {
}

#slider-one-wrap,
#slider-inner {
  /* display: flex; */
  overflow-x: hidden;
  justify-content: space-between;
  /* padding-inline: var(--padding); */
}
#slider-inner {
  /* width: 100vw; */
  position: relative;
  height: 100%;
  width: 100%;
}

#one {
  position: relative;
  height: 27vh;
  width: calc(100% - (2 * var(--padding)));
  margin-inline: auto;
  overflow: hidden;
  border-block: 1px solid rgba(0, 0, 0, 0.106);
  padding-block: 25px;
}

.me {
  font-weight: 450;
  font-size: 16px;
  line-height: 1.065;
  margin-bottom: 1em;
  /* text-transform: uppercase; */
  letter-spacing: 0.05em;
  opacity: 0.5;
  padding-left: calc(2 * var(--padding));
  /* margin-left: 10px; */
  /* display: inline-block; */
  margin-block: 50px;
  /* position: absolute; */
}

.slider_wip {
  width: calc(100% - (2 * var(--padding)));
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  display: flex;
}

/* .section {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  position: relative;
} */
.proxy-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.slider .g-7 {
  padding: 1vw;
}
.g-7 {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  /* margin-inline: 100px; */
  justify-content: center;
  align-items: center;
  /* border-left: 1px dashed rgba(0, 0, 0, 0.106); */
}
.g-7 .img-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  /* aspect-ratio: 1/1; */
}
img {
  display: block;
}

.disabled {
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: #ececec;
  /* transition: 400ms all linear; */
}
.g-7 {
  position: relative;
}
.g-7 a {
  font-size: 3vw;
  color: #c6d6e8;
  position: absolute;
}
