:root {
  --primary-color: #fc543e;
  --secondary-color: rgb(236, 236, 236);
  --foreground-color: #0a0a0a;
  --background-color: #fff;
}

@font-face {
  font-family: "ginger";
  src: url("../font/ginger-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ginger";
  src: url("../font/ginger-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ginger";
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.cursor2 {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 1px solid var(--primary-color);
  /* background-color: var(--primary-color); */
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.cursor1 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/*  */

.section__1 {
  min-height: 100vh;
  padding-top: 50vh;
}

.img__wrraper {
  overflow: hidden;
  height: 500px;
  display: grid;
  place-content: center;
  margin-block: 25px;
}

.img_loco {
  height: 1000px;
}

.section__2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__2 .small__heading {
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 1.32px;
  line-height: 13.2px;
  margin-bottom: 17.2px;
}

.section__2 .small__heading__ribbon {
  height: 7px;
  width: 24px;
  background-color: var(--primary-color);
  transform: skewY(-16deg) scaleX(1);
  margin-bottom: 39.6px;
}

.section__2 h2 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -1.68px;
  line-height: 50.4px;
  max-width: 800px;
  text-align: center;
  margin-bottom: 21px;
}

.section__2 p {
  font-size: 16px;
  max-width: 580px;
  text-align: center;
  font-weight: normal;
  letter-spacing: -0.32px;
  line-height: 27.2px;
}

.section__3 {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__3 .heading {
  position: relative;
  z-index: 1;
  font-size: 106px;
  text-align: center;
  letter-spacing: -0.05em;
  line-height: 0.9em;
  color: var(--foreground-color);
}

.section__3 .work__cto {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.section__3 .work__cto div {
  border: 2px solid var(--foreground-color);
}

.section__3 .work__cto div.center {
  padding: 0.2em 1.6em;
  font-size: 10.5px;
  letter-spacing: 1.05px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--foreground-color);
}

.section__3 .work__cto div.left,
.section__3 .work__cto div.right {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section__3 .work__cto div.left {
  width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background-color: var(--foreground-color);
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.05s,
    border-left-width 0.05s linear 0.38s;
}

.section__3 .work__cto div.right {
  width: 44.19px;
  border-left-width: 0px;
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.15s,
    border-right-width 0.05s linear 0.38s;
}

.section__3 .work__cto div.right svg {
  transform: translateX(0%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0.29s;
}

.section__3 .work__cto div.left svg {
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.section__3 .work__cto:hover div.right {
  width: 0px;
  border-right-width: 0px;
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.05s,
    border-right-width 0.05s linear 0.38s;
}

.section__3 .work__cto:hover div.left {
  width: 44.19px;
  border-left-width: 2px;
  transition: width 0.5s cubic-bezier(0.7, -0.01, 0, 1.01) 0.15s,
    border-left-width 0.05s linear 0.38s;
}

.section__3 .work__cto:hover div.right svg {
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.section__3 .work__cto:hover div.left svg {
  transform: translateX(0%);
  transition: transform 0.5s cubic-bezier(0.3, 0, 0, 1) 0.29s;
}

.section__3__bg {
  height: 150%;
  width: 150%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(0deg);
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
}

.section__3__bg .bg__img {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  position: relative;
  opacity: 0;
}

.section__3__bg .bg__img1 {
  transform: translate(200px, -100px);
}

.section__3__bg .bg__img2 {
  transform: translate(-800px, 0px);
}

/* transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1) */

.section__4 {
  background-color: var(--background-color);
}

.section__4 .small__heading {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.32px;
  line-height: 13.2px;
  margin-bottom: 17.2px;
  margin-inline: auto;
  text-align: center;
  color: var(--foreground-color);
  margin-top: 300px;
}

.section__4 .small__heading__ribbon {
  height: 7px;
  width: 24px;
  background-color: var(--primary-color);
  transform: skewY(-16deg) scaleX(1);
  margin-bottom: 39.6px;
  margin-inline: auto;
}

.menu {
  padding: 50px;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
}

.menu__item {
  position: relative;
  padding: 0 6vw;
  display: flex;
  justify-content: center;
  transition: transform 0.5s cubic-bezier(0, 0, 0.3, 1);
  transform-origin: 50% 50%;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: var(--foreground-color);
  transition: transform 0.25s, opacity 1s;
  will-change: transform;
  transform-origin: 100% 50%;
  opacity: 1;
}

.menu__item-link.active {
  opacity: 0.5;
}

/* .menu__item-link::before {
  all: initial;
  font-family: sofia-pro, sans-serif;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
} */

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  transform: translate3d(-50%, -30%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

.menu {
  font-size: 7vw;
}

.marquee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--foreground-color);
  pointer-events: none;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  opacity: 1;
  transition-duration: 0.4s;
}

/* .menu__item:hover ~ .menu__item {
  opacity: 0.5;
} */

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
}
